---
title: Hacker Ranking
layout: /default.slim
---

table.ui.selectable.red.large.table.right.aligned
  - users, totals = hackers_table
  - content_for :table_total_msg, totals['writeups'].to_s + ' total writeups'
  thead
    tr
      th.one.wide data-sort="int" Position
      th.four.wide data-sort="string"  Username
      th data-sort="int"  Writeups
      th data-sort="int"  Unique Writeups
      th data-sort="int"  Unique Writeups percentage
      th data-sort="int"  TOE's
  tbody
    - users.keys.each do |key|
      tr
        td.one.wide #{users[key]['pos']}
        td #{key}
        td #{users[key]['writeups']}
        td #{users[key]['unique-writeups']}
        - if users[key]['unique-writeups-prcntg'] >= 80
          td class="positive" #{users[key]['unique-writeups-prcntg']}%
        - elsif users[key]['unique-writeups-prcntg'] >= 60
          td class="warning" #{users[key]['unique-writeups-prcntg']}%
        -else
          td class="negative" #{users[key]['unique-writeups-prcntg']}%
        td #{users[key]['ntoes']}
  tfoot
    tr
      th.one.wide Totals
      th -
      th #{totals['writeups']}
      th #{totals['unique-writeups']}
      th -
      th #{totals['ntoes']}
