---
title: Writeups
layout: /default.slim
---

table.ui.selectable.red.large.table.right.aligned
  ruby:
    t_inf, totals = toe_table
    tot = totals['total-internal-writeups'] + totals['total-external-writeups']
    content_for :table_total_msg, tot.to_s + ' total writeups'
  thead
    tr
      th.four.wide data-sort="string"  Target Of Evaluation (ToE)
      th data-sort="int"  Potential vulnerabilities
      th data-sort="int"  Confirmed vulnerabilities
      th data-sort="int"  Confirmed vulnerabilities with internal writeup
      th data-sort="int"  Confirmed vulnerabilities with external writeup
      th data-sort="int"  Exclusive Writeups
      th data-sort="int"  Total internal writeups
      th data-sort="int"  Total external writeups
  tbody
      - t_inf.keys.each do |key|
        tr
          td
            a href="#{t_inf[key]['site-link']}" #{t_inf[key]['official-name']}
          td #{t_inf[key]['potential-vulnerabilities']}
          td #{t_inf[key]['confirmed-vulns']}
          td #{t_inf[key]['internal-vulns']}
          td #{t_inf[key]['external-vulns']}
          td #{t_inf[key]['exclusive-writeups']}
          td #{t_inf[key]['total-internal-writeups']}
          td #{t_inf[key]['total-external-writeups']}
  tfoot
    tr
      th Totals
      - totals.keys.each do |key|
        th #{totals[key]}
