doctype html
html
  head
    title #{@item[:title]}
    meta content='template language' name='keywords'
    - url = 'https://cdnjs.cloudflare.com/ajax/libs'
    script src="#{url}/jquery/3.3.1/jquery.min.js"
    script src="#{url}/stupidtable/1.1.3/stupidtable.min.js"
    script src="#{url}/semantic-ui/2.4.1/semantic.min.js"
    link[
      href="#{url}/semantic-ui/2.4.1/semantic.min.css"
      rel="stylesheet"
      type="text/css"
    ]
    javascript:
      $(function(){
        $("table").stupidtable();
      });

  body
    .ui.padded.stackable.grid.equal.width

      .sixteen.wide.black.column
        .ui.segment.inverted
          - img = 'https://fluidattacks.com/web/es/theme/images/logo-menu.svg'
          img.ui.left.floated.image src="#{img}"

          .ui.small.right.floated.statistic.inverted
            .label #{@item[:title]}
            .label #{content_for(@item, :table_total_msg)}

      .two.wide.stretched.column
        .ui.fluid.vertical.large.tabular.menu
          a.item href="/writeups" By ToE
          a.item href="/writeups/hacker-ranking" By Hacker

      .twelve.wide.column
        == yield
    == render '/default_footer.slim'
